<!-- 拡張してテンプレートのhtmlファイルを設定 -->
{% extends 'Base.html' %}

<!-- 拡張テンプレートのhtmlに挿入するブロック内に個別コードを記述 -->
{% block header %}
<div class="p-3 mb-5">
  <h1>タスクアプリ</h1>
  <p1>タスク一覧を表示</p1>
</div>

{% endblock header %}

{% block content %}
  <div class="shadow-sm p-3 mb-5 bg-body rounded">

    {% if user.is_authenticated %}
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'task_new' %}" class="btn btn-outline-success me-3">新規作成</a>
      </div>
    {% endif %}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">タイトル</th>
          <th scope="col">締め切り</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for task in object_list %}
          <tr>
            <th> <a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a></th>
            <td> {{ task.deadline }} </td>
            {% if user.is_authenticated %}
            <td>
              <a href="{% url 'task_update' task.pk %}">編集</a>
              <a href="{% url 'task_delete' task.pk %}">削除</a>
            </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock content %}
