[submodule "MakeMarketData/kuro_p_pak"]
	path = MakeMarketData/kuro_p_pak
	url = https://github.com/kuronokurujp/kuro_p_pak.git
[submodule "EATesting/kuro_p_pak"]
	path = EATesting/kuro_p_pak
	url = https://github.com/kuronokurujp/kuro_p_pak.git
[submodule "GameDataMaker/kuro_p_pak"]
	path = GameDataMaker/kuro_p_pak
	url = https://github.com/kuronokurujp/kuro_p_pak.git
[submodule "FontConverter/kuro_p_pak"]
	path = FontConverter/kuro_p_pak
	url = https://github.com/kuronokurujp/kuro_p_pak.git
