altgraph==0.17.4
black==24.10.0
click==8.1.7
colorama==0.4.6
flake8==7.1.1
fonttools==4.55.3
iniconfig==2.0.0
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
pefile==2023.2.7
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.12.1
pyflakes==3.2.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pytest==8.3.4
pywin32-ctypes==0.2.3
